/* ***** ***** INDEX ***** ***** */

:root {
    --colorAccent: #e05f00;
    --colorLight: #F8F8FF;
    --colorDark: #363740;
    --spacingVerySmall: 1vw;
    --spacingSmall: 2vw;
    --spacingMedium: 5vw;
}

* {
    box-sizing: border-box;
    transition: transform 0.3s, border 0.3s, box-shadow 0.3s;
}

body,
html {
    font-family: Quicksand;
    margin: 0;
}

body {
    background-color: var(--colorLight);
}

body>*:not(:first-child) {
    margin: auto;
    max-width: 1300px;
}

/* Text */

h1 {
    left: 0;
    right: 0;
    color: var(--colorLight);
    background-color: var(--colorAccent);
    border: 2px solid var(--colorDark);
    padding: 10px;
    font-weight: bold;
    margin-top: var(--spacingMedium);
    padding-bottom: 15px;
}

p {
    font-family: "Open Sans";
    padding: 0 var(--spacingSmall);
}

li {
    list-style: none;
}

a {
    color: #e66100;
}

/* Components */

header {
    background-color: var(--colorDark);
    display: flex;
    margin-bottom: var(--spacingMedium);
    height: 80px;
}

header>a {
    height: 100%;
    color: var(--colorLight);
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    padding: auto;
    font-size: 20px;
}

header>a>p {
    padding: 0 20px;
    margin: auto 0;
}

header>a:hover {
    color: var(--colorAccent);
    text-decoration: underline;
    transform: scale(1.15);
}

header>a.active {
    background-color: var(--colorAccent);
    color: var(--colorLight);
    text-decoration: underline;
}

header>img {
    height: 100px;
    width: 100px;
    margin: auto var(--spacingSmall) auto auto;
    border-radius: 50px;
    border: 5px solid var(--colorDark);
}

.info {
    border: 2px red solid;
    width: 70%;
    margin: auto;
    font-size: 40px;
    color: darkred;
    text-align: center;
}

/* ***** ***** INDEX ***** *****/
.indexMain__techList {
    border: solid 1px black;
    --size: 150px;
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacingSmall);
}

.progressCircle__progress {
    position: absolute;
    clip-path: polygon(50% 50%, 50% 0%, 100% 0%, 100% 50%, 100% 100%, 50% 100%);

    --margin: 2px;
    left: var(--margin);
    right: var(--margin);
    top: var(--margin);
    bottom: var(--margin);

    box-sizing: content-box;

    border: solid 5px var(--colorAccent);

    border-radius: 9999px;
    margin: auto;
    display: flex;
    flex-grow: 1;
}

.progressCircle__outer {
    position: relative;
    display: flex;
    width: var(--size);
    height: var(--size);
    padding: 9px;
    background-color: var(--colorDark);
    border-radius: 9999px;
}

.progressCircle__inner {
    display: flex;
    height: 100%;
    height: 100%;
    padding: 5px;
    background-color: var(--colorLight);
    border-radius: 9999px;
    margin: auto;
    display: flex;
    flex-grow: 1;
}

.progressCircle__text {
    color: black;
    margin: auto;
}

/* ***** ***** PROJETS ***** ***** */
.projets__liste {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--spacingSmall);
}

.projetsArticle {
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;

    max-width: 550px;
    padding: var(--spacingVerySmall);
    margin: auto;
    box-shadow: 5px 4px 15px -2px var(--colorDark);
    position: relative;
    font-weight: bold;
    border: solid 1px var(--colorDark)
}

.projetsArticle>img {
    margin: 0 calc(var(--spacingVerySmall) * -1);
    width: calc(100% + (2*var(--spacingVerySmall)));
    height: 300px;
    object-fit: cover;
    overflow: hidden;
    border-bottom: 2px solid var(--colorDark);
}

.projetsArticle>.lien {
    width: calc(100% + (2*var(--spacingVerySmall)));
    margin: 0 calc(var(--spacingVerySmall) * -1);
    padding: var(--spacingVerySmall);
    cursor: pointer;
}

.projetsArticle>.lien:hover {
    transform: scale(1.02);
    box-shadow: 10px 8px 30px -4px var(--colorDark);
}

.projetsArticle>.lien>a {
    color: var(--colorLight);
    text-decoration: none;
}

.projetsArticle>.lienProjet {
    background-color: var(--colorAccent);
}

.projetsArticle>.lienCode {
    margin-bottom: calc(var(--spacingVerySmall) * -1);
    background-color: var(--colorDark);
}

.projetsArticle>h2 {
    width: calc(100% + (2*var(--spacingVerySmall)));
    background-color: var(--colorAccent);
    color: var(--colorLight);
    margin: calc(var(--spacingVerySmall) * -1);
    margin-bottom: 0;
    padding: var(--spacingVerySmall);
}

.projetsArticle>p,
ul {
    width: 100%;
    padding: 0 20px;
}

.projetsArticle>ul>li {
    width: 100%;
    padding: 0 40px;
    list-style: none;
}

/* ***** ***** CONTACT ***** ***** */

/* ***** ***** CV ***** ***** */
.cvContainer {
    display: flex;
}

.cv {
    max-width: 750px;
    margin: auto;
}