/*
    <<<<< <<<<< <<<<< -------- >>>>> >>>>> >>>>>
    <<<<< <<<<< <<<<< A PROPOS >>>>> >>>>> >>>>>
    <<<<< <<<<< <<<<< -------- >>>>> >>>>> >>>>>
*/
.aPropos {
    position: relative;

    & .pContainer {
        position: absolute;
        right: 0;
        top: 0;
    
        width: max(350px, 34%);
        max-width: 100vw;
        height: 100%;
    
        padding: var(--headerHeight) 1vw 30px 1vw;
        background-color: var(--colorDarkTransparent);
        border-left: solid 2px var(--colorLighter);
    
        display: flex;
        flex-direction: column;

        & h2 {
            margin-top: auto;
        }
        
        & .text {
            margin-bottom: auto;
        }
    }
    
    
    
    & .carrousel__item {
        width: 66%;

        &4 {
            width: 34%;
        }
    }
}
/* 
    <<<<< <<<<< <<<<< ----- >>>>> >>>>> >>>>> 
    <<<<< <<<<< <<<<< PHONE >>>>> >>>>> >>>>> 
    <<<<< <<<<< <<<<< ----- >>>>> >>>>> >>>>> 
*/
@media (max-width:1040px) {
    .aPropos{
        & .carrousel__item{
            width: calc(100% - 350px);

            &4{
                width: 350px;
            }
        }
    }
}

@media (max-width:700px){
    .aPropos{
        & .carrousel__item{
            width: 100%;

            &4{
                display: none;
            }
        }

        & .pContainer{
            width: 100%;
            padding-left: calc(50% - 150px);
            padding-right: calc(50% - 150px);
            border-left: none;
        }
    }
}

@media (max-width: 330px){
    .aPropos{
        & .pContainer{
            padding-left: 2vw;
            padding-right: 2vw;
        }
    }
}