/* <<<<< <<<<< <<<<< ----------------- >>>>> >>>>> >>>>> */
/* <<<<< <<<<< <<<<< GENERALS SETTINGS >>>>> >>>>> >>>>> */
/* <<<<< <<<<< <<<<< ----------------- >>>>> >>>>> >>>>> */
:root {
    --shadowLight: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --shadowMedium: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --shadowStrong: rgba(0, 0, 0, 0.6) 0px 5px 15px;
    --shadowNeat: rgba(0, 0, 0, 0.6) 2px 2px 2px;
    --shadowGlow: rgba(255, 255, 255, 0.35) 0px 5px 15px;

    --colorAccent: #4b1412;
    --colorAccentTransparent: #4b141273;
    --colorLight: #ccd0ce;
    --colorLighter: #ffffff;
    --colorLighterTransparent: #ffffff73;
    --colorLighterTransparenter: #ffffff40;
    --colorDarkTransparent: #28282866;
    --colorDark: #282828;
    --fontAccent: "Arial";
    --fontMain: "Arial";

    --headerHeight: 70px;
    --scrollWidth: 17px;
    
    --fontSizeSmall: max(1.25vw, 1em);
    --fontSizeMedium: max();
    --fontSizeLarge: max(2.5vw, 2em);
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--fontMain);
    font-weight: 100;
}

h1,
h2,
h3,
p{
    color: var(--colorLighter);
}

h1,
h2,
h3,
p,
a {
    padding: 1vw;
    text-shadow: var(--shadowLight);
}

h1 {
    margin: 0;
    color: var(--colorAccent);
    text-align: center;
}

h2 {
    text-align: center;
    border-bottom: 2px solid var(--colorLighter);
    font-size: var(--fontSizeLarge);
}

p{
    font-size: max(1.25vw, 1em);
    line-height: 1.6;
}

a, a>* {
    color: var(--colorAccent);
    text-decoration: none;
    line-height: 1.6;
    font-size: max(1.25vw, 1em);
}

body {
    background-color: var(--colorLighter);
}