<!DOCTYPE html>
<html lang="fr">
    
<head>
    <meta charset="UTF-8">
    <title>Portfolio - Accueuil</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="/includeHtml.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="/index.html">A propos de moi</a>
        <a href="/components/pages/projets.html">Projets</a>
        <a href="/components/pages/cv.html">CV</a>
        <a class="active" href="/components/pages/contact.html">Contact</a>
    </header>
    <div class="info">Work In Progress ! Index des projets disponible dans "projets"</div>
    
</body>


</html>