<!DOCTYPE html>
<html lang="fr">
    
<head>
    <meta charset="UTF-8">
    <title>Portfolio - Accueuil</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="/includeHtml.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="/index.html"><p>A propos de moi</p></a>
        <a  class="active"href="/components/pages/projets.html"><p>Projets</p></a>
        <a href="/components/pages/cv.html"><p>CV</p></a>
        <a href="/components/pages/contact.html"><p>Contact</p></a>
        <img src="/components/img/maTronche.jpg" alt="photo de moi">
    </header>


    <main class="projets">
        <div class="projets__liste"></div>
    </main>

    <script> //Ajoute les differents projets a partir de leurs données
        //fonctions
        const main = document.querySelector(".projets__liste");
        const projets = [];

        function ajouterProjet(imgSrc, imgAlt, titre, description, technos = [], lien){
            projets.push({
                imgSrc : imgSrc,
                imgAlt : imgAlt,
                titre : titre,
                description : description,
                technos : technos,
                lien : lien
            })
        }

        function afficherProjets(){
            
            //
            projets.forEach((proj) => {
                //creation de l'article
                const article = document.createElement('article')
                article.classList.add('projetsArticle');
                article.innerHTML = (
                    `<a href="${proj.lien}"></a>
                    <h2>${proj.titre}</h2>
                    <img src="${proj.imgSrc}" alt="${proj.imgAlt}"> 
                    <p>${proj.description}</p>`
                );
                main.appendChild(article);

                //ajout des technologies utilisees
                const techList = document.createElement("ul");
                article.appendChild(techList);
                techList.innerText = ""
                proj.technos.forEach((tech) => {
                    const newTech = document.createElement("li");
                    newTech.innerText = tech;
                    techList.appendChild(newTech);
                })
            })
        }

        //ajout des projets
        ajouterProjet(
            "/components/img/bookiCouverture.gif", "capture d'écran du projet Booki",
            "Booki",
            "Restranscription d'une maquette en un site responsive",
            [
                "HTML",
                "CSS"
            ],
            "/projects/CSS_HTML/Booki"
        );
        ajouterProjet(
            "/components/img/ratingWidget.gif", "capture d'écran du projet Rating Widget",
            "Rating Widget",
            "Widget de notation avec notes et moyenne générées aléatoirement",
            [
                "HTML",
                "CSS",
                "Javascript"
            ],
            "/projects/Javascript/advancedRatingWidget"
        );
        ajouterProjet(
            "/components/img/searchAlgorythm.gif", "capture d'écran du projet Rating Widget",
            "Algorithme de recherche",
            "Barre de recherche avec algorithme de tri avancé",
            [
                "HTML",
                "CSS",
                "Javascript"
            ],
            "/projects/Javascript/30DaysChallenge/06 - Type Ahead/secondTry.html"
        );


        afficherProjets();
        
    </script>
</body>


</html>